<mat-toolbar color="primary">

    <mat-toolbar-row class="d-flex justify-content-between container">

      <div *ngIf="!autenticacionService.isAuthenticated()">
        <span mat-button routerLink="/login">BIENVENIDO</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>

      <div *ngIf="autenticacionService.isAuthenticated()">
        <button mat-icon-button>
          <mat-icon>task_alt</mat-icon>
        </button>
        <span routerLink="/login">ZZTeam</span>
      </div>

      <div *ngIf="autenticacionService.isAuthenticated()">
        <button mat-icon-button (click)="logOut()">
          <mat-icon>logout</mat-icon>
          Cerrar sesion
        </button>
      </div>
    </mat-toolbar-row>

</mat-toolbar>
