
<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title > <h1 style="color: black;">Inicio de sesion</h1> </mat-card-title>
    </mat-card-header>
    <form class="example-form" method="post">
      <mat-dialog-content>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="usuario.username" type="text" name="username" id="username"
            placeholder="Username" autofocus required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="usuario.password" type="password" name="password" id="password"
            placeholder="Password" required>
        </mat-form-field>
      </mat-dialog-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="btn-block" (click)="login()" type="submit"
          value="login">LogIn</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>